.home {
  &-head {
    width: 100%;
    height: 40%;
    background: cadetblue;
    padding-bottom: 10px;
    &-title {
      height: 30px;
      font-size: 18px;
      padding: 6px;
    }
  }

  &-avatar {
    margin: 40px auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &-image {
      border-radius: 50%;
      margin: 0 auto;
    }
    &-username {
      font-size: 22px;
      text-align: center;
      width: 300px;
    }
  }
  &-user-draw-button {
    margin: 30px auto;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background: coral;
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
  }
}
